# ================= Visual Studio =================

.vs/
Debug/
Release/
x64/
Win32/
ipch/
*.aps
*.ncb
*.opt
*.plg
*.suo
*.user
*.userosscache
*.sln.docstates
*.slnx
*.exe
*.dll
*.obj
*.lib
*.a
*.pdb
*.ilk
*.exp
*.map
Thumbs.db
.DS_Store
*.log
*.tmp
*.bak
*.swp
*~